*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #222;
}
/* NAVBAR */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 16, 16);
    width: 100%;
    height: 90px;
    padding: 20px;
    border-bottom: 1px solid rgb(81, 81, 81);
    position: fixed;
}
.logo{
    display: block;
    font-size: 35px;
    font-weight: 900;
    color: white;
    margin-left: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
}
#nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background-color: rgba(34, 34, 34, 0.706);

}
#menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

#menu a{
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}

#btn-menu{
    display: none;
}

/* PRINCIPAL */
.main{
    padding: 20px 20px;
}
.container{
    height: calc(100vh - 150px);
    display: flex;
    margin-top: 30px;
}
#conteudoA{
    padding: 40px 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
#conteudoB{
    border-left: 1px solid rgb(81, 81, 81);
    width: 50%;
    height: 100%;
}
#apresentacao{
    width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#apresentacaoB{
    border: 1px solid red;
    width: 650px;
}
#imgmy{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 55px rgb(39, 0, 146);
    border: 3px solid rgb(39, 0, 146);
}
#imgmy:hover{
    box-shadow: 5px 5px 55px rgb(2, 2, 97);
    border: 3px solid rgb(2, 2, 97);
    cursor: pointer;
}
#imgprim{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.titulo{
    display: block;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 50px 20px;
    border-right: 1px solid gray;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 210px;
    height: 25px;
}
.tituloA{
    font-size: 18px;
}
#infomy{
    margin-left: 70px;
    color: white;
    width: 80%;
}

/* Conteudo B*/

#conteudoB{
    padding: 25px 10px;
}
#tituloB{
    color: white;  
    display: flex;  
    justify-content: center;
    padding: 25px 10px;
}
.subt{
    color: rgb(39, 0, 146);
    text-decoration: underline;
}
.listinfoBprim{
    margin: 15px 15px;
}
#buttonsobre{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
#buttoncontato{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
#buttoncontato:hover{
    transition: 0.5s;
    color: red;
    border: 1px solid red;
}
#buttonsobre:hover{
    transition: 0.5s;
    color: red;
    border: 1px solid red;
}
.buttonprojetos{
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: red;
    font-size: 17px;
    cursor: pointer;
}
.hoverinfo:hover{
    color: red;
}
#infos{
    color: white;
}

@media all and (max-width: 500px){
    .logo{
        font-size: 16px;
    }
    #info{
        font-size: 23px;
    }
    .container{
        height: auto;
    }
    #infomy{
        margin-left: 35px;
        color: white;
        width: 80%;
    }
    .titulo{
        width: 220px;
    }
        #tituloB{
        font-size: 13px;
    }
    .subt{
        font-size: 18px;
    }
    #buttonsobre{
        width: 60px;
    }
    .listinfoBprim{
        font-size: 15px;
    }
    #btn-menu{
        font-size: 12px;
    }
}
@media all and (max-width: 600px){
    /* NAVBAR */
    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0px;
        background: rgb(16, 16, 16);
        z-index: 1000;
        transition: 0.6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        position: fixed;
    }
    #nav.active #menu{
        height: calc(185px);
        visibility: visible;
        overflow-y: auto;
        display: block;
    }
    #menu a{
        padding: 20px 5px;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(24, 24, 24, 0.747);
    }
    #btn-menu{
        display: flex;
        padding: 13px;
        font-size: 17px;
        background: transparent;
        border: none;
        color: white;
        font-weight: 600;
        cursor: pointer;
        gap: 5px;
    }
    #hamburguer{
        width: 20px;
        border-top: 2px solid white;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px ;
        background: white;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::after{
        transform: rotate(140deg);
        top: -4px;
    }
    #nav.active #hamburguer::before{
        transform: rotate(-140deg);
        top: 3px;
    }
    /* FIM NAVBAR */

    /* PRINCIPAL */
    .main{
        padding: 10px 10px;
    }
    #conteudoA{
        width: 100%;
        padding: 20px 15px;
    }
    /**/
    .container{
        display: flex;
        flex-direction: column;
    }
    .logo{
        font-size: 23px;
    }
}
@media all and (max-width: 750px){
    .container{
        display: flex;
        flex-direction: column;
    }
    #conteudoA{
        width: 100%;
    }
    #conteudoB{
        width: 100%;
        border-left: 0;
        border-top: 1px solid rgb(81, 81, 81);
    }
}  

@media all and (max-width: 935px){
    .tituloA{
        font-size: 18px;
    }
    #imgmy{
        width: 250px;
        height: 250px;
    }
    #infomy{
        margin-left: 16px;
        width: 100%;
    }
    #info{
        font-size: 18px;
    }
    .titulo{
        margin: 50px 20px;
    }
    .logo{
        font-size: 19px;
        margin-right: 25px;
    }
}
@media all and (max-width: 281px){
    .logo{
        margin: 0;
        font-size: 13px;
        width: 280px;
    }
    .titulo{
        margin: 50px 10px;
        width: 100%;
    }
    .tituloA{
        font-size: 20px;
        
    }
    #imgmy{
        width: 190px;
        height: 190px;
    }
    #info{
        font-size: 18px;
    }
    #conteudoB{
        height: auto;
    }
    #tituloB{
        font-size: 13px;
    }
    .subt{
        font-size: 18px;
    }
    #buttonsobre{
        width: 60px;
    }
    .listinfoBprim{
        font-size: 15px;
    }
    #btn-menu{
        font-size: 12px;
    }
}

/* A n i m a ç ã o */
.typing-animation{
    animation: blinkCursor 500ms steps(40) infinite normal, typing 3s steps(40) 1s both;
}
@keyframes blinkCursor {
    from {
        border-right-color: rgb(255, 255, 255);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0px;
    }
    to{
        width: 205px;
    }
}

/* Projetos */

.projetos{

    margin-top: 90px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
#formatoprojetos{
    display: flex;
    height: auto;
    width: 1180px;
    flex-wrap: wrap;
    gap: 15px;
}
.boxs{
    background-color: rgb(20, 20, 20);
    width: 380px;
    height: 420px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
}
.buttonvisu{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: 1px solid gray;
    font-weight: 900;
    cursor: pointer;
    font-size: 17px;
}
.buttonvisu:hover{
    color: red;
    border: 1px solid red;
}
.textprojeto{
    color: white;
}

.imgpj{
    width: 350px;
    height: 250px;
    border-radius: 5px;
}
.textsecprojeto{
    color: white;
}
@media all and (max-width: 1314px){
    #formatoprojetos{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 420px){
    .boxs{
        width: 300px;
    }
    .imgpj{
        width: 285px;
        height: 250px;
        border-radius: 5px;
    }
    .buttonvisu{
        width: 120px;
        font-size: 15px;
    }
    .subtcont{
        font-size: 17px;
    }
}
@media all and (max-width: 325px){
    .boxs{
        width: 270px;
    }
    .imgpj{
        width: 255px;
        height: 250px;
        border-radius: 5px;
    }
    .buttonvisu{
        width: 120px;
        font-size: 15px;
    }
    .subtcont{
        font-size: 11px;
    }
    
}

@media all and (max-width: 281px){
    .projetos{
        padding: 0px;
    }
    #formatoprojetos{
        height: auto;
    }
    .boxs{
        width: 250px;
    }
    .imgpj{
        width: 235px;
        height: 250px;
        border-radius: 5px;
    }
    .buttonvisu{
        width: 120px;
        font-size: 15px;
    }
    .subtcont{
        font-size: 15px;
    }
}
/*Modal dos Projetos*/
.fade{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
}
.fade:target{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    width: 800px;
    height: auto;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
    border-radius: 10px;
    top: -100px;
    overflow: auto;
}
.fechar {
    position: absolute;
    width: 30px;
    right: 30px;
    top: 10px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    font-weight: 900;
  }

.mainproj{
    padding: 20px 10px;
}
/* Contato */
.bodycont{
    display: flex;
    gap: 100px;
}
.maincontat{
    height: 100vh;
    width: calc(100%);
    padding: 20px 20px;
    display: flex;
}
.containercontat{
    margin-top: 90px;
    width: 100%;
    height: calc(100% - 90px);
    padding: 10px 5px;
}
#titulocontato{
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.nmr{
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: 60%;
    color: white;
}

#imgmycontato{
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 55px rgb(39, 0, 146);
    border: 3px solid rgb(39, 0, 146);
}

@media all and (max-width: 420px){
    #imgmycontato{
        width: 190px ;
        height: 190px;
    }
}
@media all and (max-width: 320px){
    #imgmycontato{
        width: 130px ;
        height: 130px;
    }
    .titulocontatoo{
        font-size: 18px;
    }
}
@media all and (max-width: 281px){
    #imgmycontato{
        width: 130px ;
        height: 130px;
    }
    .titulocontatoo{
        font-size: 18px;
    }
    .subtcont{
        font-size: 12px;
    }
}
.titulomodal{
    width: 94%;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
.mainmodalone{
    border: 1px solid green;
    height: 95%;
    display: flex;
    justify-content: center;
}
.imgmodal{
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 20px;
}

.columnimg{
    padding: 70px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    overflow: hidden;
}
.barraprogress{
    margin-top: 10px;
    display: flex;
    font-weight: 900;
    border-radius: 15px;
    gap: 5px;
    margin-bottom: 50px;
    width: 90%;
}
.progress{
    width: 55%;
    background-image: linear-gradient(to right, red , blue);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}
.progresss{
    animation:  progresss 3s steps(100) 1s both normal;
}
.porcent{
    color: blue;
}
@keyframes progresss{
    from{
        width: 0px;
    }
    to{
        width: 435px;
    }
}
.reto{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    width: 20px;
}

.primeira:hover{
    width: 750px;
    height: 650px;
    cursor: pointer;
    margin-left: 480px;
    margin-right: 120px;
    transition: 0.8s;
    border-radius: 30px;
}
.segunda:hover{
    width: 750px;
    height: 650px;
    cursor: pointer;
    margin-left: 120px;
    margin-right: 480px;
    transition: 0.8s;
    border-radius: 30px;

}
.primeiras:hover{
    width: 750px;
    height: 650px;
    cursor: pointer;
    margin-left: 480px;
    margin-right: 120px;
    transition: 0.8s;
    border-radius: 30px;
}
.segundas:hover{
    width: 750px;
    height: 650px;
    cursor: pointer;
    margin-left: 120px;
    margin-right: 480px;
    transition: 0.8s;
    border-radius: 30px;

}
.h2img{
    text-align: end;
}
.complementomodal{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media all and (max-width: 859px){
    .modal{
        top: -50px;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .primeira:hover{
        width: 650px;
        height: 650px;
        cursor: pointer;
        margin-left: 480px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segunda:hover{
        width: 650px;
        height: 650px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 480px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
    .primeiras:hover{
        width: 650px;
        height: 650px;
        cursor: pointer;
        margin-left: 480px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segundas:hover{
        width: 650px;
        height: 650px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 480px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
}
@media all and (max-width: 700px){
    .imgmodal{
        width: 250px;
        height: 250px;
    }
    .containerprogress{
        font-size: 15px;
    }
    .progress{
        width: 40%;
    }
    .primeira:hover{
        width: 550px;
        height: 650px;
        cursor: pointer;
        margin-left: 430px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segunda:hover{
        width: 550px;
        height: 650px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 430px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
    .primeiras:hover{
        width: 550px;
        height: 650px;
        cursor: pointer;
        margin-left: 430px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segundas:hover{
        width: 550px;
        height: 650px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 430px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
}
@media all and (max-width: 600px){
    .imgmodal{
        width: 200px;
        height: 200px;
    }
    .progress{
        width: 40%;
    }
    .primeira:hover{
        width: 500px;
        height: 600px;
        cursor: pointer;
        margin-left: 390px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segunda:hover{
        width: 500px;
        height: 600px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 390px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
    .primeiras:hover{
        width: 500px;
        height: 600px;
        cursor: pointer;
        margin-left: 360px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segundas:hover{
        width: 500px;
        height: 600px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 330px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
    .columnimg{
        gap: 10px;
    }
}
@media all and (max-width: 530px){
    .imgmodal{
        width: 180px;
        height: 180px;
    }
    .progress{
        width: 40%;
    }
    .firstimg{
        font-size: 13px;
    }
    .columnimg{
        gap: 15px;
    }
    .primeira:hover{
        width: 400px;
        height: 500px;
        cursor: pointer;
        margin-left: 320px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segunda:hover{
        width: 400px;
        height: 500px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 320px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
    .primeiras:hover{
        width: 400px;
        height: 500px;
        cursor: pointer;
        margin-left: 320px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segundas:hover{
        width: 400px;
        height: 500px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 320px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
}
@media all and (max-width: 430px){
    .imgmodal{
        width: 150px;
        height: 150px;
    }
    .progress{
        width: 50%;
    }
    .firstimg{
        font-size: 13px;
    }
    .columnimg{
        gap: 10px;
    }
    .primeira:hover{
        width: 350px;
        height: 450px;
        cursor: pointer;
        margin-left: 320px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segunda:hover{
        width: 350px;
        height: 450px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 280px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
    .primeiras:hover{
        width: 350px;
        height: 450px;
        cursor: pointer;
        margin-left: 320px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segundas:hover{
        width: 350px;
        height: 450px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 280px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
}
@media all and (max-width: 390px){
    .imgmodal{
        width: 140px;
        height: 140px;
    }
    .progress{
        width: 50%;
    }
    .firstimg{
        font-size: 7px;
    }
    .columnimg{
        gap: 10px;
    }
    .titulomodal{
        font-size: 13px;
    }
    .complementomodal{
        font-size: 13px;
    }
    .containerprogress{
        font-size: 13px;
    }
    .primeira:hover{
        width: 300px;
        height: 400px;
        cursor: pointer;
        margin-left: 270px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segunda:hover{
        width: 300px;
        height: 400px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 270px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
    .primeiras:hover{
        width: 300px;
        height: 400px;
        cursor: pointer;
        margin-left: 270px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segundas:hover{
        width: 300px;
        height: 400px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 270px;
        transition: 0.8s;
        border-radius: 30px;
    
    }
}
@media all and (max-width: 330px){
    .imgmodal{
        width: 120px;
        height: 120px;
    }
    .progress{
        width: 50%;
    }
    .firstimg{
        font-size: 7px;
    }
    .columnimg{
        gap: 10px;
    }
    .titulomodal{
        font-size: 13px;
    }
    .complementomodal{
        font-size: 13px;
    }
    .containerprogress{
        font-size: 13px;
    }
    .primeira:hover{
        width: 250px;
        height: 350px;
        cursor: pointer;
        margin-left: 250px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segunda:hover{
        width: 250px;
        height: 350px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 240px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .primeiras:hover{
        width: 250px;
        height: 350px;
        cursor: pointer;
        margin-left: 250px;
        margin-right: 120px;
        transition: 0.8s;
        border-radius: 30px;
    }
    .segundas:hover{
        width: 250px;
        height: 350px;
        cursor: pointer;
        margin-left: 120px;
        margin-right: 240px;
        transition: 0.8s;
        border-radius: 30px;
    }
}
/*Segundo Projeto*/
.progresssegundo{
    width: 10%;
    background-image: linear-gradient(to right, orange , green);
    border-radius: 10px;
}
.progresssec{
    animation:  progresssec 1s steps(100) 1s both normal;
}
.porcentsegundo{
    color: green;
}
@keyframes progresssec{
    from{
        width: 0px;
    }
    to{
        width: 40px;
    }
}
.btn2{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: 1px solid gray;
    font-weight: 900;
    cursor: pointer;
    font-size: 17px;
}
.btn2:hover{
    color: red;
    border: 1px solid red;
}

/* Icons */
.iconsrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.icons{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    font-size: 32px;
    padding: 20px;
    border-radius: 50%;
}
.instagram:hover{
    background: linear-gradient(-135deg, blue, red,yellow);
    color: white;
    border: none;
}
.twitter:hover{
    background-color: rgb(9, 196, 196);
    border: none;
}
.linkedin:hover{
    background-color: rgb(29, 79, 227);
    border: none;
}
.gmail:hover{
    background-color: white;
    color: red;
    border: none;
}

@media all and (max-width: 400px){
    .icons{
        margin: 50px 0 50px;
        font-size: 24px;
    }
    .numero{
        font-size: 20px;
    }
}
@media all and (max-width: 330px){
    .icons{
        margin: 50px 0 50px;
        font-size: 18px;
    }
    .numero{
        font-size: 17px;
    }
}